.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px;
}

.class-container {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

h1 {
  color: #FABE00;
}

ul {
  margin: auto;
  margin-top: 30px;
  width: 32%;
  padding: 0;
}

li {
  list-style: none;
  display: grid;
  text-align: left;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

button {
  background-color: #FABE00;
  color: #363535;
  border: none;
  padding: 6px 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  margin: 5px;
}

input {
  background-color: #f6f7f4;
  color: #363535;
  border: none;
  padding: 6px 12px;
  border-radius: 2px;
  margin: 5px;
  width: 25%;
}

img {
  margin-bottom: 20px;
}